<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Student Change Pwd</title>
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/css/font_eolqem241z66flxr.css" media="all"/>
</head>

<body class="childrenBody">
	<form class="layui-form"  action="/dmanager/studentSavePassword" method="post">
		<input th:value="${user.id}" id="id" name="id" type="hidden"/>
		<div class="layui-form-item">
			<label class="layui-form-label">Original Password</label>
			<div class="layui-input-block">
				<input th:value="${user.password}" id="password" name="password" type="password" class="layui-input newsName" lay-verify="required" placeholder="please input password"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">New Password</label>
			<div class="layui-input-block">
				<input th:value="${pwd}" id="pwd" name="pwd" type="password" class="layui-input newsName" lay-verify="required" placeholder="please input new password"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">New Password Again</label>
			<div class="layui-input-block">
				<input th:value="${rpwd}" id="rpwd" name="rpwd" type="password" class="layui-input newsName" lay-verify="required" placeholder="please input new password again"/>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" type="submit" lay-submit="">Save</button>
				<button type="reset" class="layui-btn layui-btn-primary">Reset</button>
				<span th:text="${message}"></span>
			</div>
		</div>
	</form>
	<script type="text/javascript" src="/layui/layui.js"></script>
	<script type="text/javascript" src="/js/admin/adminEdit.js"></script>
</body>
</html>