<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 600px;
    }
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>


<!-- Chart code -->
<script>
    am4core.ready(function() {

// Themes begin
        am4core.useTheme(am4themes_animated);
// Themes end

        var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
        chart.fontFamily = "Courier New";
        var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
        series.randomness = 0.1;
        series.rotationThreshold = 0.5;

        series.data = [ {
            "tag": "Emotional Center",
            "count": "53"
        }, {
            "tag": "Ideas Centre",
            "count": "62"
        }, {
            "tag": "Instinctive Center",
            "count": "86"
        }, {
            "tag": "Perfect",
            "count": "21"
        }, {
            "tag": "Help",
            "count": "11"
        }, {
            "tag": "Achievement",
            "count": "21"
        }, {
            "tag": "Self",
            "count": "21"
        }, {
            "tag": "Cerebral",
            "count": "23"
        }, {
            "tag": "Doubt",
            "count": "15"
        }, {
            "tag": "Active",
            "count": "24"
        }, {
            "tag": "Leader",
            "count": "35"
        }, {
            "tag": "Peaceful",
            "count": "30"
        }];

        series.dataFields.word = "tag";
        series.dataFields.value = "count";

        series.heatRules.push({
            "target": series.labels.template,
            "property": "fill",
            "min": am4core.color("#EE4866"),
            "max": am4core.color("#2474B5"),
            "dataField": "value"
        });

        series.labels.template.url = "https://stackoverflow.com/questions/tagged/{word}";
        series.labels.template.urlTarget = "_blank";
        series.labels.template.tooltipText = "{word}: {value}";

        var hoverState = series.labels.template.states.create("hover");
        hoverState.properties.fill = am4core.color("#FF0000");

        var subtitle = chart.titles.create();
        subtitle.text = "";

        var title = chart.titles.create();
        title.text = "";
        title.fontSize = 0;
        title.fontWeight = "0";

    }); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>